body{
    margin: 0px;
}
h1{
    /* 16진수 숫자 #ffffff #fff #000(검정)*/
    margin: 0px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    display: inline-block;
}
ul{
    list-style: none;
    color: blue;
    font-size: large;
}

